* {
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(/docs/img/cYzcITjTc2ym88qn23jiPTmfVnfwOierlarRz3tZvgA.webp);
}

.gen1--title__container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 40%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 5px #474747 outset;
    text-align: center;
}

.gen1--container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 5px #474747 outset;
    border-radius: 100px;

}

.gen1--img {
    height: 160px;
    width: 160px;
    margin: 8px;
    background-color: #eaeaea;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 2px #474747 outset;
    border-radius: 50%;
    cursor: pointer;
}

.gen1--img:hover {
    background-color: #b7b7b7;
}

.modal--container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 275px;
    background-color: rgb(255, 255, 255, .3);
    opacity: 1;
}

.modal {
    opacity: 1;
    display: none;
    max-width: 720px;
    background-color: #ffffff;
    border: 4px #b8b8b8 ridge;
    border-radius: 30px;
    box-shadow: 2px 5px 5px 2px #000000;
    background-image: url(/docs/img/5818392.webp);
    background-position: left;
    background-size: 180%;
}

.modal--img__container {
    height: 400px;
    width: 50%;
}

.modal--img1 {
    height: 50%;
    width: 80%;
    float: right;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    position: relative;
}

.modal--img1 p {
    font-weight: 900;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal--img2 {
    height: 50%;
    width: 80%;
    float: left;
    background-position: center;
    background-size: cover;
    justify-content: center;
    position: relative;
}

.modal--img2 p {
    font-weight: 900;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal--txt {
    width: 60%;
    margin-left: 12%;
    padding-left: 10px;
    min-height: 400px;
    background-position:bottom;
    background-size: cover; 
    
}

.modal--txt p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal--title__container {
    display: flex;
}

.name {
    font-size: 30px;
    margin: auto 0;
    margin-top: 10px;
    padding: 10px;
    border: 4px #474747 double;
    border-radius: 10px;
    background-color: #f3f3f3;
}

.closeBtn {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.closeBtn:hover {
    background-color: rgb(0, 0, 0, .2);
    border: 1px #474747 solid;
    border-radius: 5px;
}

.text--content__container {
    margin-top: 20px;
    padding: 10px;
    margin-right: 20px;
    background-color: #f3f3f3;
    border: 4px #474747 double;
    border-radius: 10px;
    
}

.js-visible--modal {
    display: flex;
}

.js-visible--modal__container {
    display: block;
}


@media screen and (max-width: 576px) {

    .modal--img1 {
        width: 100%;
    }

    .modal--img2 {
        width: 100%;
    }

    .modal--img1 p {
        display: none;
    }

    .modal--img2 p {
        display: none;
    }

}

@media screen and (max-width: 490px) {

    body {
        margin-top: 50px;
    }

    .modal--container {
        padding-top: 100px;
        margin: 0 auto;
    }

    .modal {
        flex-direction: column-reverse;
        height: 450px;
    }

    .modal--txt {
        width: 95%;
        margin: auto;
        min-height: 63%;
        padding: 0;
    }

    .modal--img__container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .modal--img1 {
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

    .modal--img2 {
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 375px) {

    .gen1--title__container {
        font-size: 13px;
    }

}