* {
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 100px;
}

.gen1--title__container{
    display: flex;
    justify-content: center;
}

.gen1--container {
    border: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 5px #474747 outset;
    border-radius: 100px;

}

.gen1--img {
    border: 2px grey solid;
    height: 160px;
    width: 160px;
    margin: 8px;
    background-color: #eaeaea;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 2px #474747 outset;
    border-radius: 50%;
    cursor: pointer;
}

.modal--container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 275px;
    background-color: rgb(255, 255, 255, .3);
    opacity: 1;
}

.modal {
    opacity: 1;
    display: none;
    max-width: 720px;
    background-color: white;
    border: 2px #474747 outset;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 5px 5px 2px #000000;
}

.modal--img__container {
    height: 400px;
    width: 50%;
}

.modal--img1 {
    border: 2px grey solid;
    height: 50%;
    width: 60%;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.modal--img2 {
    border: 2px grey solid;
    height: 50%;
    width: 60%;
    float: right;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.modal--txt {
    /* border: 2px grey solid; */
    width: 50%;
    padding-left: 30px;
    min-height: 400px;
}

.modal--txt p {
    margin-bottom: 0;
    margin-top: 10px;
}

.modal--title__container {
    display: flex;
}

.name {
    margin: auto 0;
    margin-top: 10px;
}

.closeBtn {
    border: 2px grey solid;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.js-visible--modal {
    display: flex;
}

.js-visible--modal__container {
    display: block;
}