* {
    margin-right: auto;
    margin-left: auto;
}

body {
    margin-top: 100px;
}

.gen1--title__container{
    display: flex;
    justify-content: center;
}

.gen1--container {
    border: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
}

.gen1--img {
    border: 2px grey solid;
    height: 160px;
    width: 160px;
    margin: 8px;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 6px 6px 2px #000000;
    border: 2px #474747 outset;
    border-radius: 50%;
    cursor: pointer;
}